@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-base;
  position: relative;
  background-image: url('../assets/imagen-fondo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-fondo-suave;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 248, 240, 0.6);
    z-index: -1;
  }
}

h1, h2, h3 {
  font-family: $font-heading;
  font-weight: 700;
  letter-spacing: 1px;
}
