@use "variables" as *;
@use "mixins" as *;

.cards-container-inicio,
.cards-container-productos,
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  justify-items: center;

  h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
}

.card,
.promo,
.testimonio {
  background-color: $color-fondo-suave;
  border: 1px solid $color-borde-suave;
  @include borde-redondeado();
  @include sombra-suave;
  transition: transform 0.3s ease;
  will-change: transform;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  max-width: 350px;

  &:hover {
    transform: scale(1.03);
  }

  .card-img {   // <-- cambiamos &-img por .card-img
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
  }

  h3 {
    margin: 1rem 0 0.5rem;
    color: #181616;
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
  }

  button {
    margin-top: auto;
  }
}


.promo {
  padding: 1.2rem;      // un poco más de espacio
  &:hover { transform: scale(1.03); }

  img { width: 100%; height: 200px; object-fit: cover; border-radius: 6px; }
  h3 { margin: 1.2rem 0 0.7rem; color: #d35400; }
  p  { font-size: 0.95rem; color: #555; }
}
