@use "variables";

@mixin sombra-suave {
  box-shadow: 0 2px 6px variables.$color-sombra-suave;
}

@mixin sombra-fuerte {
  box-shadow: 0 4px 12px variables.$color-sombra-fuerte;
}

@mixin transicion-suave($propiedad) {
  transition: $propiedad 0.3s ease;
}

@mixin borde-redondeado($radio: 6px) {
  border-radius: $radio;
}

%boton-base {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @include transicion-suave(background-color);
}

%contenedor-base {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 1.5rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  background-image: url('../assets/imagen-fondo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: variables.$color-fondo-suave; // ✅ ahora sí funciona
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$color-overlay;
    z-index: -1;
  }
}
