@use "variables" as *;
@use "mixins" as *;

// ========== HEADER & NAV ==========
header {
  background-color: transparent;
  color: #fff;
}

.navbar {
  background-color: $color-secundario;
  padding: 0.8rem;
}

.nav-principal {
  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    @include transicion-suave(color);

    &:hover {
      color: #ffcc00;
    }
  }
}

.logo {
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.login {
  display: flex;
  gap: 1rem;

  a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    @include transicion-suave(color);

    &:hover {
      color: #ffcc00;
    }
  }
}

// ========== FOOTER ==========
.footer {
  background-color: $color-fondo-suave;
  color: #333;
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
  border-top: 2px solid $color-borde-suave;

  .footer-info {
    p {
      margin: 0.5rem 0;
      font-weight: bold;
      color: #1a1817;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 1rem 0 0;

      li {
        margin: 0.3rem 0;
        color: #555;
      }
    }
  }
}
