@use "variables" as *; 

@mixin borde-redondeado($radio: $border-radius-default) {
  border-radius: $radio;
}
@mixin borde-redondeado($radio: $border-radius-default) {
  border-radius: $radio;
}

@mixin sombra-suave($sombra: $box-shadow-default) {
  box-shadow: $sombra;
}
