@use "variables" as *;
@use "mixins" as *;

.about {
  text-align: center;
  max-width: 50rem;
  margin: 3.125rem auto;
  padding: 1.25rem;
}

.promociones,
.testimonios,
.contacto {
  @include contenedor;
}

.pagina-login,
.pagina-crear-cuenta {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
