// ========== VARIABLES ==========

//  Colores
$color-primario: #ff6600;
$color-fondo: #fff8f0;
$color-texto: #131111;
$color-hover: #4d4643;
$color-borde-suave: #f0c090;
$color-destacado: #d35400;

//  Tipografía
$font-base: 'Inter', sans-serif;
$font-heading: 'Montserrat', sans-serif;
$font-logo: 'Roboto', sans-serif;

// Radios y sombras
$border-radius-default: 8px;
$box-shadow-default: 0 2px 6px rgba(0,0,0,0.1);